<ion-view view-title="Local Business">
  <ion-content>
    <!--<div class="list card">-->
      <div class="item item-body">
        <div>
          <img alt="splash" src="img/billboardBlueBrd2.png" width=100%>
        </div>
      <!--</div>-->
    </div>
    <!--<div class="list card">-->
      <div class="item item-body">
        <div class="row" id="blocks">
          <div class="col"><a href="#/tab/localbus_dining"><img id="block-img" alt="Dining Category" src="img/Dining.png">DINING</div></a>
          <div class="col"><a href="#/tab/localbus_repair"><img id="block-img" alt="Repair Category" src="img/Services.png">REPAIR SVC</div></a>
          <div class="col"><a href="#/tab/localbus_entertain"><img id="block-img" alt="Entertainment Category" src="img/Entertainment.png">ENTMNT</div></a>
        </div>
        <div class="row">
          <div class="col"><a href="#/tab/localbus_shopping"><img id="block-img" alt="Shopping Category" src="img/Shopping.png">SHOPPING</div></a>
          <div class="col"><a href="#/tab/localbus_health"><img id="block-img" alt="Health Category" src="img/Health.png">HEALTH</div></a>
          <div class="col"><a href="#/tab/localbus_profsvcs"><img id="block-img" alt="Professional Category" src="img/profSvcs.png">PROF SVC</div></a>
        </div>
        <div class="row">
          <div class="col"><a href="#/tab/localbus_beauty"><img id="block-img" alt="Beauty Category" src="img/BeautyMore.png">BEAUTY</div></a>
          <div class="col"><img id="block-img" alt="Beauty" src="img/BeautyMore.png">TBD</div>
          <div class="col"><img id="block-img" alt="Beauty" src="img/BeautyMore.png">TBD</div>
        </div>
        <!--<div class="button-bar">
          <button class="button icon-left ion-star button-positive">Dining</button>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>-->
      <!--<button class="button">
  <i class="icon ion-loading-c"></i> Loading...
</button>

<button class="button icon-left ion-home">Home</button>

<button class="button icon-left ion-star button-positive">Favorites</button>

<a class="button icon-right ion-chevron-right button-calm">Learn More</a>

<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

<button class="button icon ion-gear-a"></button>

<a class="button button-icon icon ion-settings"></a>

<a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
      </div>
    -->
    <!--</div>-->
  </ion-content>
</ion-view>
