<ion-view view-title="Local Business">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <div>
          <img alt="splash" src="../img/billboardBlueBrd2.png" height=100% width=100%>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="row" id="blocks">
          <div class="col"><img id="block-img" alt="splash" src="../img/Dining.png">Dining</div>
          <div class="col"><img id="block-img" alt="splash" src="../img/Services.png">Repair</div>
          <div class="col"><img id="block-img" alt="splash" src="../img/Entertainment.png">Entertainment</div>
        </div>
        <div class="row">
          <div class="col"><img id="block-img" alt="Shopping" src="../img/Shopping.png" height=40%>Shopping</div>
          <div class="col"><img id="block-img" alt="Health" src="../img/Health.png" height=40%>Health</div>
          <div class="col"><img id="block-img" alt="Professional" src="../img/profSvcs.png" height=40%>Professionals</div>
        </div>
        <div class="row">
          <div class="col"><img id="block-img" alt="Beauty" src="../img/BeautyMore.png">Beauty</div>
          <div class="col"><img id="block-img" alt="Beauty" src="../img/BeautyMore.png">TBD</div>
          <div class="col"><img id="block-img" alt="Beauty" src="../img/BeautyMore.png">TBD</div>
        </div>
        <!--<div class="button-bar">
          <button class="button icon-left ion-star button-positive">Dining</button>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>-->
      <!--<button class="button">
  <i class="icon ion-loading-c"></i> Loading...
</button>

<button class="button icon-left ion-home">Home</button>

<button class="button icon-left ion-star button-positive">Favorites</button>

<a class="button icon-right ion-chevron-right button-calm">Learn More</a>

<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

<button class="button icon ion-gear-a"></button>

<a class="button button-icon icon ion-settings"></a>

<a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
      </div>
    -->
    </div>
  </ion-content>
</ion-view>
