<ion-view view-title="Coupons">
  <ion-content>
    <ion-list>
       <a class="item item-thumbnail-left" href="#/coupondining">
          <img src="../img/Dining.png">
          <h2>Dining Mobile</h2>
          <p>Favorite Eatery</p>
        </a>
       <a class="item item-thumbnail-left" href="#/couponapparel">
          <img src="../img/Apparel.png">
          <h2>Apparel Mobile</h2>
          <p>Fashion Statement</p>
        </a>
       <a class="item item-thumbnail-left" href="#/couponbeauty">
          <img src="../img/BeautyMore.png">
          <h2>Beauty Wellness Mobile</h2>
          <p>Staying Healthy</p>
        </a>
       <a class="item item-thumbnail-left" href="#/couponleisure">
          <img src="../img/Golf.png">
          <h2>Fun and Leisure Mobile</h2>
          <p>Hitting the Links</p>
        </a>
       <a class="item item-thumbnail-left" href="#/couponservices">
          <img src="../img/Services.png">
          <h2>Repair Services Mobile</h2>
          <p>Get it Fixed</p>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
