<ion-view view-title="Dishes Over $20">
  <ion-content class="padding">
    <div class="card">
        <div class="item item-divider">
            Dishes over $20
          </div>
          <div class="item item-text-wrap">
              <button class="button button-full button-assertive">
                3 Course Meals, Parties of six or more
              </button>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
      </div>
    </ion-content>
</ion-view>