<ion-view view-title="Beauty and Relaxation">
  <ion-content class="padding">
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Gymnasiums
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Tanning Salons
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Spa
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Nail Salons
        </a>

        
    </div>
    </ion-content>
</ion-view>