<ion-view view-title="Dining">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
            Dishes under $10
          </div>
          <div class="item item-text-wrap">
                <a class="button button-full button-positive" href="#/tab/dining_under_10">Pizza, Burgers, Ice Creams</a>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            
                Dishes between $10 and $20
            
          </div>
          <div class="item item-text-wrap">
            <a class="button button-full button-energized" href="#/tab/dining_10_to_20">
                Steak, Pasta, Salad Buffets
            </a>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    
    <div class="card">
        <div class="item item-divider">
            Dishes over $20
          </div>
          <div class="item item-text-wrap">
              <a class="button button-full button-assertive" href="#/tab/dining_over_20">
                3 Course Meals, Parties of six or more
              </a>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    </ion-content>      
</ion-view>