<ion-view view-title="Dining">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
            Dishes under $10
          </div>
          <div class="item item-text-wrap">
                <button class="button button-full button-positive">
                    Pizza, Burgers, Ice Creams
                </button>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            
                Dishes between $10 and $20
            
          </div>
          <div class="item item-text-wrap">
            <button class="button button-full button-energized">
                Steak, Pasta, Salad Buffets
            </button>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    
    <div class="card">
        <div class="item item-divider">
            Dishes over $20
          </div>
          <div class="item item-text-wrap">
              <button class="button button-full button-assertive">
                3 Course Meals, Parties of six or more
              </button>
          </div>
          <div class="item item-divider">
            Meals for Kids
          </div>
    </div>
    </ion-content>      
</ion-view>