<ion-view view-title="Entertainment">
  <ion-content class="padding">
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Night Life
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Golf
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Movies
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Family Fun
        </a>

        
    </div>
    </ion-content>
</ion-view>