<ion-view view-title="Health and Wellness">
  <ion-content class="padding">
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Pediatrician
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Primary Care Physician
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Clinics Pharmacies and More
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Dentist
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Veterinarian
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Chiropractor
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Defense
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Gymnasiums
        </a>
        
    </div>
    </ion-content>
</ion-view>