<ion-view view-title="Professional Services">
  <ion-content class="padding">
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Legal Services
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Accountant
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Real Estate
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Mortgage and Title Services
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Insurance
        </a>
        
        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Travel Agency Services
        </a>
        
        
    </ion-content>
</ion-view>