<ion-view view-title="Shopping">
  <ion-content class="padding">
        <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Apparel
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        Electronics
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Car Shopping
        </a>

        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Household
        </a>
      
        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Jewelry
        </a>
      
        <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Misc
        </a>

    </ion-content>
</ion-view>